@media only screen and (max-width: 1600px) {
    .fixation_cards {
        .fixation_card {
            width: calc(100% / 3 - 18px);
        }
    }

    .partner_table {
        width: 100%;
        border-radius: 0;

        .table_body,
        .table_head {
            gap: 6px;
            padding: 8px;
        }
    }
}

@media only screen and (max-width: 1560px) {
    .offers_cards {
        .offers_card {
            width: calc(100% / 3 - 18px);
        }
    }
}

@media only screen and (max-width: 1400px) {
    .offers {
        .offer_card_block {
            gap: 20px;
        }
    }

    header {
        ul {
            gap: 15px;
            a {
                span {
                    font-size: 18px;
                    line-height: 22px;
                }
            }
        }
    }

    .referral_in {
        .referral_copy {
            align-items: start !important;
            flex-direction: column;
        }

        .reward {
            ul {
                li {
                    gap: 20px;
                }
            }
        }
    }

    .settings_integrations {
        gap: 32px;
    }
}

@media only screen and (max-width: 1300px) {
    .offers {
        .offer_card_block_img {
            min-width: 300px;
        }

        .offer_card_block_btns {
            button {
                .btn_text {
                    display: none;
                }
            }
        }
    }

    .offers_cards {
        .offers_card {
            width: calc(100% / 2 - 13px);
        }
    }

    .fixation_cards {
        gap: 16px;
    
        .fixation_card {
            width: calc(100% / 2 - 13px);
        }
    }
}

@media only screen and (max-width: 1200px) {

    .fixation_cards {
        padding: 0 8px;
    }

    .offers_block_in {
        margin: 10px 0;
    }

    .block_title {
        gap: 10px;
        margin: 28px 8px;

        .main_btn {
            flex-shrink: 0;
            padding: 8px;

            span {
                display: none;
            }

            img {
                display: flex;
            }
        }
    }

    .main_title {
        font-size: 20px;
        line-height: 28px;
    }

    aside {
        display: none;
    }

    header {
        padding: 20px 8px;
        gap: 23px;

        .header_burger {
            display: flex;
        }

        .line {
            display: none;
        }

        ul {
            gap: 50px;
            a {
                span {
                    display: none;
                    font-size: 18px;
                    line-height: 22px;
                }

                img {
                    display: block;
                }
            }
        }
    }

    .avatar_text {
        display: none;
    }


    .avatar_img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        overflow: hidden;
    }

    .offers {
        .offer_card_block {
            flex-direction: column;
            gap: 40px;
            border-radius: 0;
            padding: 16px 8px 40px 8px;
        }

        .offer_card_block_text {
            .link_block {
                align-items: start;
                flex-direction: column;
            }

            span, b , a {
                font-size: 16px;
                line-height: 22px;
                letter-spacing: -0.01em;
            }

            .blue_number {
                font-size: 18px;
            }

            p {
                font-size: 14px;
                line-height: 20px;
            }
        }

        .offer_card_block_btns {
            margin: 16px 0;
            gap: 16px;

            button {
                width: 100%;
                flex: auto;
            }

            .icon_btn {
                flex-shrink: 0;
                width: 40px;
                height: 40px;
                padding: 8px;
            }
        }
        
    }
    

    .balance_card {
        max-width: 100%;
        border-radius: 0;
        padding: 24px 8px;

        h3 {
            margin-bottom: 24px;

            span {
                font-size: 20px;
                line-height: 28px;
            }
        }

        ul {
            li {
                gap: 8px;
            }

            b,span {
                font-size: 14px;
                line-height: 20px;
            }
        }
    }

    .education {
        padding: 24px 8px;

        h4 {
            margin-bottom: 20px;
            font-size: 18px;
            line-height: 26px;
        }

        ul {
            padding-left: 0;
        }

        span {
            display: inline;
            font-size: 18px;
            line-height: 26px;
        }
    }

    .transactions_cards {
        padding: 24px 2px;
        margin: 0 8px;
        background: #fff;

        .transactions_card {
            padding: 37px 29px;
            width: calc(100%);
        }

        a ,span {
            font-size: 14px;
            line-height: 20px;
        }
    }

    .referral_in {
        padding: 24px 8px;

        .referral_cards {
            gap: 16px;
        }

        .referral_card {
            width: calc(100%);
        }

        .referral_copy {
            input {
                width: 100%;
            }
        }

        .referral_text {
            width: 100%;
            h4 {
                margin-bottom: 16px;
            }
        }

        .referral_top {
            flex-direction: column;
            gap: 32px;
            margin-bottom: 32px;
        }

        .reward {
            padding: 16px 22px;
            width: 100%;
            max-width: 100%;

            h4 {
                font-size: 18px;
                line-height: 26px;
            }

            ul {
                span {
                    font-size: 16px;
                }
            }

        }

        .referral_card {
            padding: 24px;

            span, b {
                font-size: 16px;
            }
        }
    }

    .balance_rquest_table {
        width: 100%;
        border-radius: 0;

        .medium_block {
            width: 150px;
        }

        .end_block {
            width: 350px;
        }

        .table_body,
        .table_head {
            gap: 8px;
        }
    }

    .settings_integrations {
        flex-direction: column;
        padding: 24px 8px;
        border-radius: 0;

        h3 {
            font-size: 18px;
            line-height: 26px;
        }

        .settings_integrations_left,
        .settings_integrations_right {
            width: 100%;

            label {
                margin-top: 24px;
            }
        }
    }

    .offers_cards {
        padding: 0 8px;
    }

    .add_article {
        padding: 0 8px;
        gap: 24px;

        .textarea_one {
            height: 94px;
        }

        textarea {
            height: 550px;
        }

        .main_btn {
            width: 100%;
        }
    }
}

@media only screen and (max-width: 993px) {
    .partner_table_wrapper {
        width: 100%;
        overflow-x: scroll;
        &::-webkit-scrollbar {
            display: none;
        }
    }

    .partner_table {
        min-width: 980px;

        span {
            white-space: nowrap;
        }
    }
}

@media only screen and (max-width: 768px) {
    .balance_rquest_table_wrapper {
        width: 100%;
        overflow-x: scroll;
        &::-webkit-scrollbar {
            display: none;
        }
    }

    .balance_rquest_table {
        min-width: 700px;
    }

    .offers_cards {
        gap: 24px;
        .offers_card {
            width: calc(100%);
        }

        .offers_card_content  {
            padding: 16px 16px 24px 16px;

            h3 {
                font-size: 16px;
                line-height: 20px;
            }
        }
    }

    .fixation_cards {
        
        .fixation_card {
            width: calc(100%);
        }
    }
} 