@media only screen and (max-width: 993px) {
    aside {
        display: none;
    }

    header {
        padding: 20px 8px;

        .header_burger {
            display: flex;
        }
    }

    .avatar_text {
        display: none;
    }


    .avatar_img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        overflow: hidden;
    }
}