* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

img {
  max-width: 100%;
}

span, label {
  display: inline-block;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
}

input {
  outline: none;
}

button {
  border: none;
  cursor: pointer;
  background: transparent;
  outline: 0;
}

address {
  font-style: normal;
}

.wrapper {
  width: 100%;
  overflow: hidden;
}

.main_container {
  max-width: 1380px;
  padding: 0 10px;
  margin: 0 auto;
}

.main_btn {
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -0.01em;
  padding: 11px 40px;
  color: #FFFFFF;
  background: #5FB669;
  border-radius: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
label {
  padding: 0;
  margin: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

.entrance {
  background-image: url("../images/main_bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
.entrance_form {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  border-radius: 10px;
  padding: 55px 40px;
  background: #fff;
}
.entrance .header_logo {
  width: 200px;
  height: 50px;
  margin-bottom: 24px;
}
.entrance form {
  gap: 16px;
}
.entrance h6 {
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.02em;
  color: #000;
}
.entrance .main_btn {
  width: 133px;
  margin: 0 auto;
}
.entrance label {
  border: 1px solid rgb(229, 229, 229);
  border-radius: 10px;
  background: rgb(242, 242, 242);
  padding: 13px 14px;
  gap: 4px;
}
.entrance label input {
  background: transparent;
  border: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.01em;
}
.entrance p {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.01em;
  color: #000000;
}
.entrance p a {
  color: #006FA7;
}
.entrance .line {
  gap: 24px;
  margin: 24px 0;
}
.entrance .line .line_block {
  width: 100px;
  height: 1px;
  background: #E5E5E5;
}
.entrance .telegram_btn {
  width: 100%;
  gap: 8px;
  border-radius: 10px;
  background: #006FA7;
  padding: 8px;
}
.entrance .telegram_btn span {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.01em;
  color: #FFFFFF;
}

aside {
  width: 320px;
  box-shadow: 1px 0px 10px 0px rgba(39, 46, 59, 0.15);
  background: rgb(255, 255, 255);
}
aside .header_logo,
aside .balance {
  border-bottom: 1px solid rgb(135, 183, 255);
}
aside .header_logo {
  padding: 16px 35px 24px 35px;
}
aside .header_logo img {
  width: 250px;
}
aside .balance {
  padding: 24px 28px 16px 28px;
}
aside .balance h6 {
  gap: 4px;
}
aside .balance h6 span {
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.01em;
  color: #000000;
}
aside .balance p {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  color: #000000;
}
aside ul {
  padding: 24px 28px;
}
aside ul a {
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.01em;
  color: #000000;
  transition: 0.3s ease;
  border-radius: 10px;
  padding: 12px 24px;
}
aside ul a svg path {
  transition: 0.3s ease;
}
aside ul a:hover {
  background: #006FA7;
  color: #fff;
}
aside ul a:hover svg path {
  fill: #fff;
  stroke: #fff;
}
aside .aside_bottom {
  padding: 32px auto 16px auto;
  border-top: 1px solid rgb(135, 183, 255);
}/*# sourceMappingURL=style.css.map */