// mixin
@mixin flex-full-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-full-stretch {
    display: flex;
    align-items: stretch;
    justify-content: center;
}

@mixin flex-column {
    flex-direction: column;
}

@mixin flex-start {
    display: flex;
    align-items: start;
}

@mixin flex-center {
    display: flex;
    align-items: center;
}

@mixin transition {
    transition: .3s ease;
}
// mixin

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

img {
    max-width: 100%;
}

span, label {
    display: inline-block;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #EFFAFFFF;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
}

input {
    outline: none;
}

button {
    border: none;
    cursor: pointer;
    background: transparent;
    outline: 0;
}

address {
    font-style: normal;
}

.wrapper {
    width: 100%;
    overflow: hidden;
}

.main_container {
    max-width: 1380px;
    padding: 0 10px;
    margin: 0 auto;
}

.main_wrapper {
    max-width: 1920px;
    margin: 0 auto;
}

.offers_block_in {
    margin: 0 60px;
}

.main_btn {
    white-space: nowrap;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.01em;
    padding: 11px 40px;
    color: #FFFFFF;
    background: #5FB669;
    border-radius: 10px;
}

// bootstrap
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
label {
    padding: 0;
    margin: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}
// bootstrap

// main_title
.main_title {
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 45px;
    letter-spacing: -0.01em;
    color: #000000;
}
// main_title

// entrance
.entrance {
    background-image: url('../images/main_bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;

    &_form {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 400px;
        border-radius: 10px;
        padding: 55px 40px;
        background: #fff;
    }

    .header_logo {
        width: 200px;
        height: 50px;
        margin-bottom: 24px;
    }

    form {
        gap: 16px;
    }

    h6 {
        font-size: 24px;
        font-weight: 500;
        line-height: 28px;
        letter-spacing: -0.02em;
        color: #000;
    }

    .main_btn {
        width: 133px;
        margin: 0 auto;
    }

    label {
        border: 1px solid rgb(229, 229, 229);
        border-radius: 10px;
        background: rgb(242, 242, 242);
        padding: 13px 14px;
        gap: 4px;

        input {
            background: transparent;
            border: none;
            font-size: 16px;
            font-weight: 400;
            line-height: 22px;
            letter-spacing: -0.01em;
        }
    }

    p {
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: -0.01em;
        color: #000000;

        a {
            color: #006FA7;
        }
    }
    
    .line {
        gap: 24px;
        margin: 24px 0;

        .line_block {
            width: 100px;
            height: 1px;
            background: #E5E5E5;
        }
    }

    .telegram_btn {
        width: 100%;
        gap: 8px;
        border-radius: 10px;
        background: #006FA7;
        padding: 8px;

        span {
            font-size: 16px;
            font-weight: 400;
            line-height: 22px;
            letter-spacing: -0.01em;
            color: #FFFFFF;
        }
    }
}
// entrance

.bg {
    background: rgba(0, 111, 167, 0.3);
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 3;
    display: none;
}

.bg.active {
    display: block;
}

// aside
aside {
    position: relative;
    top: 0;
    height: 100%;
    width: 320px;
    box-shadow: 1px 0px 10px 0px rgba(39, 46, 59, 0.15);
    background: rgb(255, 255, 255);

    .header_logo,
    .balance {
        border-bottom: 1px solid rgb(135, 183, 255);
    }

    .header_logo {
        padding: 16px 35px 24px 35px;

        img {
            min-width: 250px;
            height: 60px;
        }
    }

    .balance {
        padding: 24px 28px 16px 28px;
        
        h6 {
            gap: 4px;

            span {
                font-size: 20px;
                font-weight: 600;
                line-height: 28px;
                letter-spacing: -0.01em;
                color: #000000;
            }
        }

        p {
            font-size: 18px;
            font-weight: 400;
            line-height: 22px;
            color: #000000;
        }
    }

    ul {
        margin-bottom: 200px;
        padding: 24px 28px;

        a {
            width: 100%;
            font-size: 16px;
            font-weight: 400;
            line-height: 22px;
            letter-spacing: -0.01em;    
            color: #000000;
            @include transition();
            border-radius: 10px;
            padding: 12px 24px;

            svg {
                path {
                    @include transition();
                }
            }

            &:hover {
                background: #006FA7;
                color: #fff;

                svg {
                    path {
                        fill: #fff;
                        stroke: #fff;
                    }
                }
            }
        }

        .active {
            background: #006FA7;
            color: #fff;

            svg {
                path {
                    fill: #fff;
                    stroke: #fff;
                }
            }
        }
    }

    .aside_bottom {
        padding: 32px auto 16px auto;
        border-top: 1px solid rgb(135, 183, 255);
    }
}

.media_aside {
    position: fixed;
    z-index: 4;
    left: -100%;
    top: 0;
    height: 100%;
    @include transition();

    .media_aside_close {
        position: absolute;
        top: 4px;
        right: 4px;
    }

    // width: 320px;
    box-shadow: 1px 0px 10px 0px rgba(39, 46, 59, 0.15);
    background: rgb(255, 255, 255);

    .header_logo,
    .balance {
        border-bottom: 1px solid rgb(135, 183, 255);
    }

    .header_logo {
        padding: 16px 35px 24px 35px;

        img {
            min-width: 200px;
            height: 50px;
        }
    }

    .balance {
        padding: 24px 28px 16px 28px;
        
        h6 {
            gap: 4px;

            span {
                font-size: 20px;
                font-weight: 600;
                line-height: 28px;
                letter-spacing: -0.01em;
                color: #000000;
            }
        }

        p {
            font-size: 18px;
            font-weight: 400;
            line-height: 22px;
            color: #000000;
        }
    }

    ul {
        padding: 24px 28px;

        a {
            width: 100%;
            font-size: 16px;
            font-weight: 400;
            line-height: 22px;
            letter-spacing: -0.01em;    
            color: #000000;
            @include transition();
            border-radius: 10px;
            padding: 12px 24px;

            svg {
                path {
                    @include transition();
                }
            }

            &:hover {
                background: #006FA7;
                color: #fff;

                svg {
                    path {
                        fill: #fff;
                        stroke: #fff;
                    }
                }
            }
        }
    }

    .aside_bottom {
        padding: 32px auto 16px auto;
        border-top: 1px solid rgb(135, 183, 255);
    }
}

.media_aside.active {
    left: 0;
}
// aside

// block_title
.block_title {
    margin: 40px 0 24px 0;

    .main_btn {
        padding: 11px 32px;
        
        img {
            display: none;
        }
    }
}
// block_title

// header
header {
    padding: 10px 61px;
    background: #272E3B;
    min-width: 100%;
    gap: 5px;

    .header_burger {
        display: none;
    }

    .avatar {
        gap: 16px;
    }

    .avatar_img {
        flex-shrink: 0;
    }

    .avatar_text {
        text-align: right;
        
        h6 {
            font-size: 20px;
            font-weight: 600;
            line-height: 28px;
            letter-spacing: -0.01em;
            color: #fff;
        }

        p {
            font-size: 13px;
            font-weight: 500;
            line-height: 20px;
            letter-spacing: -0.01em;
            color: #fff;
        }

        span {
            color: #5FB669;
        }

        .avatar_text_bottom {
            gap: 24px;
            justify-content: end;
        }
    }

    ul {
        gap: 32px;

        a {
            
            img {
                display: none;
            }
            
            span {
                font-size: 22px;
                font-weight: 500;
                line-height: 18px;
                letter-spacing: -0.01em;
                color: #FFFFFF;
                @include transition();

                &:hover {
                    color: #87B7FF;
                }
            }

            span.active {
                color: #87B7FF;
            }
        }
    }

    .line {
        height: 40px;
        width: 1px;
        border-radius: 1px;
        background: #EFFAFF;
    }
}
// header

// offers
.offers {

    .article_title {
        max-width: 850px;
    }

    .offers_block {
        width: 100%;
    }

    .avatar {
        margin-left: auto;
    }

    .offer_card_block {
        gap: 100px;
        background: #fff;
        padding: 53px 40px;
        border-radius: 20px;
    }

    .offer_card_block_text {
        gap: 16px;
        
        li {
            @include flex-center();
            gap: 16px;
        }

        span, p {
            font-size: 18px;
            font-weight: 400;
            line-height: 22px;
            color: #000000;
        }

        p {
            max-width: 811px;
        }

        h6 {
            font-size: 22px;
            font-weight: 500;
            line-height: 18px;
            letter-spacing: -0.01em;
            color: #000000;
        }

        .green_text {
            font-size: 16px;
            font-weight: 400;
            line-height: 22px;
            letter-spacing: -0.01em;
            color: #5FB669;
            border-radius: 10px;
            padding: 4px 16px;
            background: #DFFFEA;
        }

        .blue_text {
            font-size: 16px;
            font-weight: 400;
            line-height: 22px;
            letter-spacing: -0.01em;
            color: #006FA7;
            border-radius: 10px;
            padding: 4px 16px;
            background: #E9F3FF;
        }

        .blue_number {
            font-size: 20px;
            font-weight: 600;
            line-height: 28px;
            letter-spacing: -0.01em;
            color: #006FA7;
        }

        a {
            font-size: 18px;
            font-weight: 400;
            line-height: 22px;
            color: #006FA7;
        }

        b {
            font-size: 18px;
            font-weight: 600;
            line-height: 26px;
            color: #000000;
        }
    }

    .offer_card_block_img {
        min-width: 480px;

        .main_btn {
            width: 100%;
        }
    }

    .offer_card_block_btns {
        @include flex-center();
        gap: 20px;
        margin: 24px 0;

        button {
            flex: 1;
            white-space: nowrap;
            padding: 15px;
            height: 40px;
            border-radius: 10px;
            border: 1px solid #006FA7;
            @include flex-full-center();
            gap: 8px;

            span {
                font-size: 16px;
                font-weight: 600;
                line-height: 20px;
                letter-spacing: -0.01em;
                color: #006FA7;
            }
        }
    }
}
// offers

// balance_card
.balance_card {
    max-width: 600px;
    padding: 52px 68px 52px 36px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);

    h3 {
        @include flex-center();
        gap: 8px;
        margin-bottom: 32px;
        font-size: 32px;
        font-weight: 700;
        line-height: 32px;
        letter-spacing: -0.01em;
        color: #006FA7;

        img {
            width: 32px;
        }
    }

    ul {
        gap: 8px;

        li {
            @include flex-center();
            gap: 16px;
            flex-wrap: wrap;
        }

        b, span {
            font-size: 18px;
            font-weight: 600;
            line-height: 26px;
            color: #000000;
        }

        span {
            font-weight: 400;
        }
    }
}
// balance_card

// education
.education {
    background: #fff;
    padding: 50px 40px;
    border-radius: 10px;

    h4 {
        margin-bottom: 40px;
        font-size: 24px;
        font-weight: 500;
        line-height: 28px;
        letter-spacing: -0.02em;
        color: #000000;
    }

    ul {
        padding-left: 50px;
        gap: 16px;
    }

    a {
        gap: 8px;
    }

    span {
        font-size: 18px;
        font-weight: 600;
        line-height: 26px;
        color: #006FA7;
    }

    .article_list {
        padding-left: 18px;
        display: flex;
        flex-direction: column;
        gap: 16px;
        
        li {
            list-style-type: decimal;
            font-size: 16px;
            font-weight: 400;
            line-height: 22px;
            letter-spacing: -0.01em;
            color: #000000;
        }
    }

    .article_title {
        margin-bottom: 32px;
        font-size: 24px;
        font-weight: 500;
        line-height: 28px;
        letter-spacing: -0.02em;
        color: #000;
    }

    .list_one {
        margin-bottom: 32px;
    }
}
// education

// transactions_cards
.transactions_cards {
    margin-bottom: 24px;
    gap: 32px 59px;
    flex-wrap: wrap;

    .transactions_card {
        width: calc(100% / 2 - 30px);
        padding: 33px 34px;
        gap: 8px;
        border: 1px solid rgb(229, 229, 229);
        border-radius: 10px;
        background: #fff;
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
    }

    span, a {
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: -0.01em;
        color: #000000;
    }

    a {
        color: #006FA7;
    }

    .blue_number {
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        color: #006FA7;
    }
}
// transactions_cards


@import './responsive';