* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

img {
  max-width: 100%;
}

span, label {
  display: inline-block;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #effaff;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
}

input {
  outline: none;
}

button {
  border: none;
  cursor: pointer;
  background: transparent;
  outline: 0;
}

address {
  font-style: normal;
}

.wrapper {
  width: 100%;
  overflow: hidden;
}

.main_container {
  max-width: 1380px;
  padding: 0 10px;
  margin: 0 auto;
}

.main_wrapper {
  max-width: 1920px;
  margin: 0 auto;
}

.offers_block_in {
  margin: 0 60px;
}

.main_btn {
  white-space: nowrap;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -0.01em;
  padding: 11px 40px;
  color: #FFFFFF;
  background: #5FB669;
  border-radius: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
label {
  padding: 0;
  margin: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

.main_title {
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 45px;
  letter-spacing: -0.01em;
  color: #000000;
}

.blue_btn {
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  color: #006FA7;
  padding: 8px 32px;
  border-radius: 10px;
  border: 1px solid #006FA7;
  transition: 0.3s ease;
}
.blue_btn:hover {
  background: #006FA7;
  color: #fff;
}

.entrance {
  background-image: url("../images/main_bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
}
.entrance .swiper {
  width: 400px;
}
.entrance .swiper-slide:not(.swiper-slide-active) {
  height: 0;
  overflow: hidden;
}
.entrance_form {
  width: 100%;
  border-radius: 10px;
  padding: 55px 40px;
  background: #fff;
}
.entrance_form.successfully {
  min-height: 550px;
}
.entrance_form.successfully h6 {
  white-space: nowrap;
}
.entrance .header_logo {
  width: 200px;
  height: 50px;
  margin-bottom: 24px;
}
.entrance form {
  width: 100%;
  gap: 16px;
}
.entrance h6 {
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.02em;
  color: #000;
}
.entrance .main_btn {
  width: auto;
  display: inline-flex;
  height: auto;
  margin: 0 auto;
  padding: 11px 40px;
}
.entrance label {
  border: 1px solid rgb(229, 229, 229);
  border-radius: 10px;
  background: rgb(242, 242, 242);
  padding: 13px 14px;
  gap: 4px;
  position: relative;
  width: 100%;
}
.entrance label.focus {
  border-color: #87B7FF;
}
.entrance label.error {
  border-color: #BB0000;
}
.entrance label.error .icon_clear {
  display: block;
}
.entrance label.success {
  border-color: #42984B;
}
.entrance label.success .icon_check {
  display: block;
}
.entrance label input {
  background: transparent;
  border: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.01em;
  width: calc(100% - 50px);
}
.entrance label .icon {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  display: none;
}
.entrance p {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.01em;
  color: #000000;
}
.entrance p a {
  color: #006FA7;
}
.entrance .error-text {
  font-size: 13px;
  font-weight: 20px;
  letter-spacing: -1%;
  font-weight: 400;
  color: #BB0000;
  display: none;
}
.entrance .line {
  gap: 24px;
  margin: 24px 0;
}
.entrance .line .line_block {
  width: 100px;
  height: 1px;
  background: #E5E5E5;
}
.entrance .telegram_btn {
  width: 100%;
  gap: 8px;
  border-radius: 10px;
  background: #006FA7;
  padding: 8px;
}
.entrance .telegram_btn span {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.01em;
  color: #FFFFFF;
}

.bg {
  background: rgba(0, 111, 167, 0.3);
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 3;
  display: none;
}

.bg.active {
  display: block;
}

aside {
  position: relative;
  top: 0;
  height: 100%;
  width: 320px;
  box-shadow: 1px 0px 10px 0px rgba(39, 46, 59, 0.15);
  background: rgb(255, 255, 255);
}
aside .header_logo,
aside .balance {
  border-bottom: 1px solid rgb(135, 183, 255);
}
aside .header_logo {
  padding: 16px 35px 24px 35px;
}
aside .header_logo img {
  min-width: 250px;
  height: 60px;
}
aside .balance {
  padding: 24px 28px 16px 28px;
}
aside .balance h6 {
  gap: 4px;
}
aside .balance h6 span {
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.01em;
  color: #000000;
}
aside .balance p {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  color: #000000;
}
aside ul {
  margin-bottom: 200px;
  padding: 24px 28px;
}
aside ul a {
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.01em;
  color: #000000;
  transition: 0.3s ease;
  border-radius: 10px;
  padding: 12px 24px;
}
aside ul a svg path {
  transition: 0.3s ease;
}
aside ul a:hover {
  background: rgba(0, 111, 167, 0.1);
  color: rgb(0, 0, 0);
}
aside ul a:active {
  background: #006FA7;
  color: #fff;
}
aside ul a:active svg path {
  fill: #fff;
  stroke: #fff;
}
aside ul .active {
  background: #006FA7;
  color: #fff;
}
aside ul .active:hover {
  background: #006FA7;
  color: #fff;
}
aside ul .active:hover svg path {
  fill: #fff;
  stroke: #fff;
}
aside ul .active svg path {
  fill: #fff;
  stroke: #fff;
}
aside .aside_bottom {
  padding: 32px auto 16px auto;
  border-top: 1px solid rgb(135, 183, 255);
}

.media_aside {
  position: fixed;
  z-index: 4;
  left: -100%;
  top: 0;
  height: 100%;
  transition: 0.3s ease;
  box-shadow: 1px 0px 10px 0px rgba(39, 46, 59, 0.15);
  background: rgb(255, 255, 255);
}
.media_aside .media_aside_close {
  position: absolute;
  top: 4px;
  right: 4px;
}
.media_aside .header_logo,
.media_aside .balance {
  border-bottom: 1px solid rgb(135, 183, 255);
}
.media_aside .header_logo {
  padding: 16px 35px 24px 35px;
}
.media_aside .header_logo img {
  min-width: 200px;
  height: 50px;
}
.media_aside .balance {
  padding: 24px 28px 16px 28px;
}
.media_aside .balance h6 {
  gap: 4px;
}
.media_aside .balance h6 span {
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.01em;
  color: #000000;
}
.media_aside .balance p {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  color: #000000;
}
.media_aside ul {
  padding: 24px 28px;
}
.media_aside ul a {
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.01em;
  color: #000000;
  transition: 0.3s ease;
  border-radius: 10px;
  padding: 12px 24px;
}
.media_aside ul a svg path {
  transition: 0.3s ease;
}
.media_aside ul a:hover {
  background: #006FA7;
  color: #fff;
}
.media_aside ul a:hover svg path {
  fill: #fff;
  stroke: #fff;
}
.media_aside .aside_bottom {
  padding: 32px auto 16px auto;
  border-top: 1px solid rgb(135, 183, 255);
}

.media_aside.active {
  left: 0;
}

.select {
  position: relative;
  width: 400px;
  border: 1px solid rgb(229, 229, 229);
  border-radius: 10px;
}

.select.active {
  border: 1px solid #87B7FF;
}

.select .selectBtn {
  padding: 13px 16px;
  box-sizing: border-box;
  border-radius: 10px;
  width: 100%;
  cursor: pointer;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background: rgb(242, 242, 242);
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #000000;
}

.select .selectBtn:after {
  content: "";
  position: absolute;
  top: 45%;
  right: 15px;
  width: 10px;
  height: 10px;
  transform: translateY(-50%) rotate(45deg);
  border-right: 2px solid #000000;
  border-bottom: 2px solid #000000;
  transition: 0.2s ease;
}

.select .selectBtn.toggle {
  background: rgb(242, 242, 242);
}

.select .selectBtn.toggle:after {
  transform: translateY(-50%) rotate(-135deg);
}

.select .selectDropdown {
  position: absolute;
  top: 100%;
  width: 100%;
  border-radius: 0 0 3px 3px;
  overflow: hidden;
  background: rgb(242, 242, 242);
  border-top: 1px solid #eee;
  z-index: 1;
  transform: scale(1, 0);
  transform-origin: top center;
  visibility: hidden;
  transition: 0.2s ease;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}

.select .selectDropdown .option {
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #000000;
}

.select .selectDropdown .option:hover {
  background: rgba(0, 111, 167, 0.1019607843);
}

.select .selectDropdown.toggle {
  border: 1px solid #87B7FF;
  margin-top: 6px;
  border-radius: 10px;
  padding: 13px 0;
  visibility: visible;
  transform: scale(1, 1);
}

.block_title {
  margin: 40px 0 24px 0;
}
.block_title .main_btn {
  padding: 11px 32px;
}
.block_title .main_btn img {
  display: none;
}

header {
  padding: 10px 61px;
  background: #272E3B;
  min-width: 100%;
  gap: 5px;
}
header .header_burger {
  display: none;
  align-items: center;
  justify-content: center;
}
header .avatar {
  gap: 16px;
}
header .avatar_img {
  flex-shrink: 0;
}
header .avatar_text {
  text-align: right;
}
header .avatar_text h6 {
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.01em;
  color: #fff;
}
header .avatar_text p {
  font-size: 13px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.01em;
  color: #fff;
}
header .avatar_text span {
  color: #5FB669;
}
header .avatar_text .avatar_text_bottom {
  gap: 24px;
  justify-content: end;
}
header ul {
  gap: 32px;
}
header ul a img {
  display: none;
}
header ul a span {
  font-size: 22px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.01em;
  color: #FFFFFF;
  transition: 0.3s ease;
}
header ul a span:hover {
  color: #87B7FF;
}
header ul a span.active {
  color: #87B7FF;
}
header .line {
  height: 40px;
  width: 1px;
  border-radius: 1px;
  background: #EFFAFF;
}

.fixation_modal {
  z-index: 5;
  top: 0;
  left: 0;
  display: none;
  align-items: flex-start;
  justify-content: flex-end;
}
.fixation_modal__bg {
  background: #006FA7;
  opacity: 0.3;
}
.fixation_modal__content {
  background: #fff;
  width: 500px;
  box-shadow: -8px 0 15px rgba(0, 0, 0, 0.15);
}
.fixation_modal__content form {
  padding: 70px 50px;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}
.fixation_modal__content form::-webkit-scrollbar {
  display: none;
}
.fixation_modal__content button {
  top: 16px;
  left: 16px;
}
.fixation_modal__content h2 {
  font-size: 32px;
  font-weight: 600;
  line-height: 45px;
  letter-spacing: -1%;
  margin-bottom: 40px;
  text-align: center;
  color: #4E4E4E;
}
.fixation_modal__content .inputs {
  gap: 32px;
  margin-bottom: 40px;
}
.fixation_modal__content .input label {
  display: block;
  margin-bottom: 6px;
  font-size: 13px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: -1%;
  color: #4E4E4E;
}
.fixation_modal__content .input input {
  width: 100%;
  border: 1px solid #E5E5E5;
  padding: 14px 16px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 33px;
  color: #4E4E4E;
  background: #F2F2F2;
}
.fixation_modal__content .input input::-moz-placeholder {
  color: #4E4E4E;
}
.fixation_modal__content .input input::placeholder {
  color: #4E4E4E;
}
.fixation_modal.active {
  display: flex;
}
@keyframes bgActive {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.3;
  }
}
.fixation_modal.active .fixation_modal__bg {
  animation: bgActive 0.3s linear 1;
}
@keyframes contentActive {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
.fixation_modal.active .fixation_modal__content {
  animation: contentActive 0.3s linear 1;
}
.fixation_modal.end-active {
  display: flex;
}
@keyframes bgEndActive {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 0;
  }
}
.fixation_modal.end-active .fixation_modal__bg {
  opacity: 0;
  animation: bgEndActive 0.3s linear 1;
}
@keyframes contentEndActive {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}
.fixation_modal.end-active .fixation_modal__content {
  transform: translateX(100%);
  animation: contentEndActive 0.3s linear 1;
}

.fixation_one {
  padding: 40px 68px 37px 54px;
}
.fixation_one h2 {
  font-size: 32px;
  line-height: 45px;
  font-weight: 600;
}
.fixation_one__head {
  margin-bottom: 24px;
}
.fixation_one__head .btns {
  gap: 8px;
}
.fixation_one__head .main_btn {
  height: 50px;
  padding: 0 32px;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}
.fixation_one__head .btn_light {
  padding: 15px 23px;
  border-radius: 10px;
  border: 1px solid #006FA7;
  color: #006FA7;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
}
.fixation_one__head .btn_light svg {
  display: none;
}
.fixation_one__content {
  border-radius: 20px;
  background: #fff;
  padding: 53px 40px;
}
.fixation_one__content .datas {
  gap: 109px;
  margin-bottom: 60px;
}
.fixation_one__content .datas ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}
.fixation_one__content .datas ul:nth-child(1) {
  width: 620px;
  flex-shrink: 0;
}
.fixation_one__content .datas ul:nth-child(1) li:last-child p {
  font-size: 16px;
}
.fixation_one__content .datas ul li {
  display: flex;
  align-items: center;
  gap: 16px;
}
.fixation_one__content .datas ul .title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  color: #000000;
}
.fixation_one__content .datas ul h4 {
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  font-weight: 600;
}
.fixation_one__content .datas ul p {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  color: #000;
}
.fixation_one__content .datas ul .text_blue {
  color: #006FA7;
}
.fixation_one__content .datas ul .edit_btn {
  background: #DFFFEA;
  padding: 3px 16px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 8px;
  color: #5FB669;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}
.fixation_one .fixation_lists {
  gap: 32px 59px;
}
.fixation_one .fixation_lists__item {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #E5E5E5;
  border-radius: 10px;
  width: calc(50% - 29.5px);
  padding: 33px 34px;
}
.fixation_one .fixation_lists__item ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.fixation_one .fixation_lists__item ul li {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 4px;
}
.fixation_one .fixation_lists__item ul .text_blue {
  color: #006FA7;
}
.fixation_one .fixation_lists__item ul b {
  color: #006FA7;
  font-weight: bold;
}
.fixation_one .fixation_lists__head {
  margin-bottom: 32px;
}
.fixation_one .fixation_lists__head h3 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
}
.fixation_one .fixation_lists__head .btn_light {
  border: 1px solid #006FA7;
  color: #006FA7;
  border-radius: 10px;
  padding: 8px 32px;
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
}

.add_fixation_modal {
  top: 0;
  left: 0;
  z-index: 5;
  display: none;
  align-items: flex-start;
  justify-content: flex-end;
}
.add_fixation_modal__bg {
  left: 0;
  top: 0;
  background: #006FA7;
  opacity: 0.3;
}
.add_fixation_modal__close {
  top: 16px;
  left: 16px;
}
.add_fixation_modal__content {
  background: #fff;
  width: 500px;
  padding: 69px 50px;
}
.add_fixation_modal__content form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.add_fixation_modal__content h2 {
  font-size: 32px;
  line-height: 45px;
  font-weight: 600;
}
.add_fixation_modal__content .inputs {
  width: 100%;
}
.add_fixation_modal__content .input {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 100%;
}
.add_fixation_modal__content label {
  font-size: 13px;
  line-height: 20px;
  font-weight: 500;
  color: #4E4E4E;
}
.add_fixation_modal__content input {
  border-radius: 10px;
  border: 1px solid #E5E5E5;
  background: #F2F2F2;
  font-size: 16px;
  line-height: 22px;
  color: #4E4E4E;
  padding: 15px 16px;
}
.add_fixation_modal.active {
  display: flex;
}
@keyframes bgActive {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.3;
  }
}
.add_fixation_modal.active .add_fixation_modal__bg {
  animation: bgActive 0.3s linear 1;
}
@keyframes contentActive {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
.add_fixation_modal.active .add_fixation_modal__content {
  animation: contentActive 0.3s linear 1;
}
.add_fixation_modal.end-active {
  display: flex;
}
@keyframes bgEndActive {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 0;
  }
}
.add_fixation_modal.end-active .add_fixation_modal__bg {
  opacity: 0;
  animation: bgEndActive 0.3s linear 1;
}
@keyframes contentEndActive {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}
.add_fixation_modal.end-active .add_fixation_modal__content {
  transform: translateX(100%);
  animation: contentEndActive 0.3s linear 1;
}

.offers .title_top {
  gap: 27px;
}
.offers .title_select {
  width: 300px;
}
.offers .article_title {
  max-width: 850px;
}
.offers .offers_block {
  width: 100%;
}
.offers .avatar {
  margin-left: auto;
}
.offers .offer_card_block {
  gap: 100px;
  background: #fff;
  padding: 53px 40px;
  border-radius: 20px;
}
.offers .offer_card_block_text {
  gap: 16px;
}
.offers .offer_card_block_text li {
  display: flex;
  align-items: center;
  gap: 16px;
}
.offers .offer_card_block_text span, .offers .offer_card_block_text p {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  color: #000000;
}
.offers .offer_card_block_text p {
  max-width: 811px;
}
.offers .offer_card_block_text h6 {
  font-size: 22px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.01em;
  color: #000000;
}
.offers .offer_card_block_text .green_text {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.01em;
  color: #5FB669;
  border-radius: 10px;
  padding: 4px 16px;
  background: #DFFFEA;
}
.offers .offer_card_block_text .blue_text {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.01em;
  color: #006FA7;
  border-radius: 10px;
  padding: 4px 16px;
  background: #E9F3FF;
}
.offers .offer_card_block_text .blue_number {
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.01em;
  color: #006FA7;
}
.offers .offer_card_block_text a {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  color: #006FA7;
}
.offers .offer_card_block_text b {
  font-size: 18px;
  font-weight: 600;
  line-height: 26px;
  color: #000000;
}
.offers .offer_card_block_img {
  min-width: 480px;
}
.offers .offer_card_block_img .main_btn {
  width: 100%;
}
.offers .offer_card_block_btns {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 24px 0;
}
.offers .offer_card_block_btns button {
  flex: 1;
  white-space: nowrap;
  padding: 15px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid #006FA7;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.offers .offer_card_block_btns button span {
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -0.01em;
  color: #006FA7;
}

.balance_card {
  max-width: 600px;
  padding: 52px 68px 52px 36px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
}
.balance_card h3 {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 32px;
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.01em;
  color: #006FA7;
}
.balance_card h3 img {
  width: 32px;
}
.balance_card ul {
  gap: 8px;
}
.balance_card ul li {
  display: flex;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap;
}
.balance_card ul b, .balance_card ul span {
  font-size: 18px;
  font-weight: 600;
  line-height: 26px;
  color: #000000;
}
.balance_card ul span {
  font-weight: 400;
}

.education {
  background: #fff;
  padding: 50px 40px;
  border-radius: 10px;
}
.education h4 {
  margin-bottom: 40px;
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.02em;
  color: #000000;
}
.education ul {
  padding-left: 50px;
  gap: 16px;
}
.education a {
  gap: 8px;
}
.education span {
  font-size: 18px;
  font-weight: 600;
  line-height: 26px;
  color: #006FA7;
}
.education .article_list {
  padding-left: 18px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.education .article_list li {
  list-style-type: decimal;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.01em;
  color: #000000;
}
.education .article_title {
  margin-bottom: 32px;
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.02em;
  color: #000;
}
.education .list_one {
  margin-bottom: 32px;
}

.transactions_cards {
  margin-bottom: 24px;
  gap: 32px 59px;
  flex-wrap: wrap;
}
.transactions_cards .transactions_card {
  width: calc(50% - 30px);
  padding: 33px 34px;
  gap: 8px;
  border: 1px solid rgb(229, 229, 229);
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
}
.transactions_cards span, .transactions_cards a {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.01em;
  color: #000000;
}
.transactions_cards a {
  color: #006FA7;
}
.transactions_cards .blue_number {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #006FA7;
}

.referral_in {
  border-radius: 10px;
  padding: 52px 40px;
  background: #fff;
}
.referral_in .referral_top {
  gap: 10px;
  margin-bottom: 24px;
}
.referral_in .referral_top h4 {
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.02em;
  color: #000;
}
.referral_in .referral_text h4 {
  margin-bottom: 40px;
}
.referral_in .referral_copy {
  gap: 16px;
}
.referral_in .referral_copy input {
  width: 430px;
  padding: 14px 20px;
  border-radius: 10px;
  background: #EFFAFF;
  border: none;
  height: 50px;
}
.referral_in .referral_copy .main_btn {
  display: flex;
  align-items: center;
  gap: 4px;
  height: 50px;
}
.referral_in .referral_copy .main_btn span {
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.02em;
}
.referral_in .reward {
  max-width: 500px;
  border-radius: 10px;
  padding: 33px 29px;
  background: #E9F3FF;
  border: 1px solid rgb(229, 229, 229);
}
.referral_in .reward h4 {
  color: #006FA7;
  padding-bottom: 16px;
  border-bottom: 1px solid #87B7FF;
  margin-bottom: 16px;
}
.referral_in .reward ul {
  gap: 16px;
}
.referral_in .reward ul li {
  gap: 60px;
}
.referral_in .reward ul span {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  color: #000000;
}
.referral_in .referral_bottom h4 {
  margin-bottom: 24px;
}
.referral_in .referral_cards {
  flex-wrap: wrap;
  gap: 24px;
  padding: 0 10px;
}
.referral_in .referral_card {
  width: calc(50% - 12px);
  padding: 22px 34px;
  border: 1px solid rgb(229, 229, 229);
  border-radius: 10px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
  background: rgb(255, 255, 255);
  gap: 9px;
}
.referral_in .referral_card span, .referral_in .referral_card b {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.01em;
  color: #000;
}
.referral_in .referral_card b {
  font-weight: 600;
}

.balance_rquest_table_in {
  overflow: hidden;
}

.balance_rquest_table {
  background: #fff;
  border-radius: 10px;
  padding-bottom: 31px;
}
.balance_rquest_table .number,
.balance_rquest_table .medium_block,
.balance_rquest_table .end_block {
  text-align: center;
}
.balance_rquest_table .number {
  width: 30px;
}
.balance_rquest_table .medium_block {
  width: 300px;
}
.balance_rquest_table .end_block {
  width: 500px;
}
.balance_rquest_table li:nth-child(even) {
  background: #F2F2F2;
}
.balance_rquest_table .table_head {
  border-bottom: 1px solid rgb(135, 183, 255);
  gap: 100px;
  padding: 16px;
}
.balance_rquest_table .table_head span {
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  color: #4E4E4E;
}
.balance_rquest_table .table_body {
  border-bottom: 1px solid rgb(135, 183, 255);
  gap: 100px;
  padding: 16px;
}
.balance_rquest_table .table_body span {
  font-size: 16px;
  font-weight: 300;
  color: #000000;
  line-height: 22px;
}

.settings_integrations {
  border-radius: 10px;
  background: #fff;
  padding: 60px 40px;
  display: flex;
  gap: 250px;
}
.settings_integrations h3 {
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.02em;
  color: #000000;
}
.settings_integrations .settings_integrations_left {
  display: flex;
  flex-direction: column;
  width: 470px;
}
.settings_integrations .settings_integrations_left label {
  color: rgb(78, 78, 78);
  font-size: 13px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -1%;
  margin-bottom: 6px;
  color: rgb(78, 78, 78);
  margin-top: 16px;
}
.settings_integrations .settings_integrations_left input {
  padding: 14px 15px;
  box-sizing: border-box;
  border: 1px solid rgb(229, 229, 229);
  border-radius: 10px;
  background: rgb(242, 242, 242);
  color: rgb(78, 78, 78);
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}
.settings_integrations .settings_integrations_right {
  width: 470px;
}
.settings_integrations .settings_integrations_right input {
  width: 100%;
  margin-top: 16px;
  background: #E9F3FF;
  padding: 14px 15px;
  border: 1px solid rgb(229, 229, 229);
  border-radius: 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.offers_cards {
  gap: 32px 26px;
  margin-bottom: 32px;
}
.offers_cards .offers_card {
  width: calc(25% - 20px);
  overflow: hidden;
  border: 1px solid rgb(229, 229, 229);
  border-radius: 10px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
  background: rgb(255, 255, 255);
}
.offers_cards .offers_card_img .main_img {
  width: 100%;
}
.offers_cards .offers_card_img a {
  top: 15px;
  right: 15px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #5FB669;
  background: #FFFFFF;
}
.offers_cards .offers_card_content {
  padding: 22px 16px 24px 16px;
  gap: 12px;
}
.offers_cards .offers_card_content h3 {
  font-size: 18px;
  font-weight: 600;
  line-height: 26px;
  color: #000000;
  height: 53px;
}
.offers_cards .offers_card_content ul {
  gap: 12px;
}
.offers_cards .offers_card_content ul li {
  display: flex;
  align-items: center;
  gap: 8px;
}
.offers_cards .offers_card_content ul span {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.01em;
  color: #000000;
}
.offers_cards .offers_card_content ul .price_text {
  color: #4E4E4E;
}
.offers_cards .offers_card_content ul .price {
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.01em;
  color: #006FA7;
}
.offers_cards .offers_card_content .main_btn {
  padding: 11px;
  width: 100%;
  text-align: center;
}

.pagination {
  gap: 8px;
  margin-bottom: 100px;
}
.pagination a {
  border-radius: 10px;
  border: 1px solid #006FA7;
  width: 32px;
  height: 32px;
}
.pagination a:hover {
  background: #006FA7;
  border: 1px solid #006FA7;
}
.pagination a:hover span {
  color: #fff;
}
.pagination a.active {
  background: #5FB669;
  border: 1px solid #5FB669;
}
.pagination a.active span {
  color: #fff;
}
.pagination span {
  transition: 0.3s ease;
  font-size: 18px;
  font-weight: 600;
  line-height: 26px;
  color: #006FA7;
}

.add_article {
  gap: 32px;
}
.add_article .textarea_one {
  height: 50px;
  padding: 14px 19px;
  border: 1px solid rgb(242, 242, 242);
  border-radius: 10px;
  background: rgb(255, 255, 255);
  color: rgb(78, 78, 78);
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}
.add_article textarea {
  resize: none;
  height: 420px;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  padding: 23px 19px;
  color: #4E4E4E;
  border: 1px solid rgb(242, 242, 242);
  border-radius: 10px;
  background: rgb(255, 255, 255);
}
.add_article textarea:focus {
  outline: none;
}
.add_article textarea::-webkit-scrollbar {
  display: none;
}
.add_article .main_btn {
  margin-left: auto;
  width: 162px;
}

.fixation_cards {
  gap: 36px 26px;
  margin-bottom: 32px;
}
.fixation_cards .fixation_card {
  padding: 27px 15px 35px 15px;
  width: calc(25% - 20px);
  border: 1px solid rgb(242, 242, 242);
  border-radius: 10px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
  background: rgb(255, 255, 255);
}
.fixation_cards h3 {
  font-size: 18px;
  font-weight: 600;
  line-height: 26px;
  color: #000000;
  height: 82px;
}
.fixation_cards ul {
  gap: 12px;
}
.fixation_cards ul li {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: start;
}
.fixation_cards ul span {
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  color: #4E4E4E;
}
.fixation_cards ul strong,
.fixation_cards ul a {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #000;
}
.fixation_cards .status {
  border-radius: 10px;
  padding: 3px 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}
.fixation_cards .date_bold {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: #000000;
}
.fixation_cards .date {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #000000;
}
.fixation_cards .blue {
  color: rgb(0, 111, 167);
  background: rgb(233, 243, 255);
}
.fixation_cards .yellow {
  color: #DEB30B;
  background: #FFF8DD;
}
.fixation_cards .green {
  color: #5FB669;
  background: #DFFFEA;
}
.fixation_cards .red {
  color: #BB0000;
  background: #FFEEF3;
}

.partner_table {
  background: #fff;
  border-radius: 10px;
  padding-bottom: 46px;
}
.partner_table .number {
  width: 20px;
}
.partner_table .list_img {
  width: 50px;
}
.partner_table .name_block {
  width: 100px;
}
.partner_table .surname_block {
  width: 100px;
}
.partner_table .phone_block {
  width: 150px;
}
.partner_table .link_block {
  width: 70px;
}
.partner_table .fixation_block {
  width: 90px;
}
.partner_table .table_head {
  text-align: center;
  padding: 16px;
  gap: 37px;
  border-bottom: 1px solid rgb(135, 183, 255);
}
.partner_table .table_head span {
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  color: #4E4E4E;
}
.partner_table .table_body {
  border-bottom: 1px solid rgb(135, 183, 255);
  padding: 16px;
  text-align: center;
  gap: 37px;
  transition: 0.3s ease;
}
.partner_table .table_body span,
.partner_table .table_body a {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #000000;
}
.partner_table .table_body:hover {
  background: #E9F3FF;
}
.partner_table .table_body:nth-child(even) {
  background: #F2F2F2;
}
.partner_table .table_body:nth-child(even):hover {
  background: #E9F3FF;
}

.partners_profile {
  margin-bottom: 24px;
  padding: 53px 40px;
  background: #FFFFFF;
  border-radius: 10px;
  gap: 100px;
}
.partners_profile h4 {
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  color: #000000;
}
.partners_profile .partners_profile_left,
.partners_profile .partners_profile_right {
  width: 50%;
  gap: 16px;
}
.partners_profile .partners_profile_left .profile_img,
.partners_profile .partners_profile_right .profile_img {
  width: 180px;
  height: 130px;
}
.partners_profile ul {
  gap: 16px;
}
.partners_profile ul li {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 16px;
}
.partners_profile ul strong {
  font-size: 18px;
  font-weight: 600;
  line-height: 26px;
  color: #000;
}
.partners_profile ul span, .partners_profile ul a {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  color: #000;
}

.profile_transaction {
  padding: 50px 40px;
  border-radius: 10px;
  background: #fff;
}

.profile_table .table_body,
.profile_table .table_head {
  gap: 9px;
}
.profile_table .date_block {
  width: 150px;
}
.profile_table .title_block {
  width: 200px;
}
.profile_table .link_block {
  width: 400px;
}
.profile_table .share_block {
  width: 90px;
}
.profile_table .end_block {
  width: 70px;
}

.settings_referal {
  padding: 50px 40px 248px 40px;
  background: #fff;
  border-radius: 10px;
  gap: 16px;
}
.settings_referal h4 {
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  color: #000000;
}
.settings_referal ul {
  gap: 16px;
}
.settings_referal ul li {
  gap: 16px;
}
.settings_referal ul span {
  width: 300px;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  color: #4E4E4E;
}
.settings_referal ul input {
  width: 400px;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #4E4E4E;
  padding: 14px 16px;
  box-sizing: border-box;
  border: 1px solid rgb(229, 229, 229);
  border-radius: 10px;
  background: rgb(242, 242, 242);
}
.settings_referal .main_btn {
  width: 194px;
}
.settings_referal .logo_upload {
  gap: 22px;
}
.settings_referal .logo_upload img {
  width: 200px;
  height: 50px;
}
.settings_referal blockquote {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #000000;
  background: #E9F3FF;
  border-radius: 10px;
  padding: 11px 15px;
}
.settings_referal blockquote a {
  color: #5FB669;
}
.settings_referal .notification_btn {
  white-space: nowrap;
  width: 437px;
}

.add_offer {
  padding: 53px 40px 100px 40px;
  border-radius: 10px;
  background: #fff;
}
.add_offer .add_offer_block_in {
  gap: 60px;
  margin-bottom: 40px;
}
.add_offer span {
  margin-bottom: 6px;
  font-size: 13px;
  font-weight: 500;
  line-height: 20px;
  color: #4E4E4E;
}
.add_offer .add_offer_blocks {
  flex: 1;
}
.add_offer .select {
  width: 100%;
}
.add_offer .blue_btn {
  margin: 0 auto;
}
.add_offer .profile_img {
  gap: 17px;
}
.add_offer .one_add_offer_blocks {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.add_offer .two_add_offer_blocks {
  display: flex;
  flex-direction: column;
  gap: 26px;
}
.add_offer input,
.add_offer textarea {
  width: 100%;
  resize: none;
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #4E4E4E;
  border: 1px solid rgb(229, 229, 229);
  border-radius: 10px;
  padding: 14px 16px;
  background: rgb(242, 242, 242);
}
.add_offer textarea {
  height: 85px;
}

@media only screen and (max-width: 1600px) {
  .fixation_cards .fixation_card {
    width: calc(33.3333333333% - 18px);
  }
  .partner_table {
    width: 100%;
  }
  .partner_table .table_body,
  .partner_table .table_head {
    gap: 6px;
    padding: 8px;
  }
  .partner_table .table_body,
  .partner_table .table_head {
    gap: 9px;
    padding: 16px;
  }
  .add_offer .add_offer_block_in {
    gap: 16px;
  }
}
@media only screen and (max-width: 1560px) {
  .offers_cards .offers_card {
    width: calc(33.3333333333% - 18px);
  }
}
@media only screen and (max-width: 1520px) {
  .fixation_one__content .datas {
    gap: 30px;
  }
  .fixation_one__content .datas ul:nth-child(1) {
    width: 450px;
  }
}
@media only screen and (max-width: 1400px) {
  .offers .offer_card_block {
    gap: 20px;
  }
  header ul {
    gap: 15px;
  }
  header ul a span {
    font-size: 18px;
    line-height: 22px;
  }
  .referral_in .referral_copy {
    align-items: start !important;
    flex-direction: column;
  }
  .referral_in .reward ul li {
    gap: 20px;
  }
  .settings_integrations {
    gap: 32px;
  }
}
@media only screen and (max-width: 1300px) {
  .offers .offer_card_block_img {
    min-width: 300px;
  }
  .offers .offer_card_block_btns button .btn_text {
    display: none;
  }
  .offers_cards .offers_card {
    width: calc(50% - 13px);
  }
  .fixation_cards {
    gap: 16px;
  }
  .fixation_cards .fixation_card {
    width: calc(50% - 13px);
  }
}
@media only screen and (max-width: 1200px) {
  .blue_btn {
    font-size: 18px;
    line-height: 22px;
  }
  .offers .title_select {
    width: 165px;
  }
  .offers .title_select .selectBtn {
    padding: 8px 11px;
    font-size: 14px;
    line-height: 20px;
  }
  .fixation_cards {
    padding: 0 8px;
  }
  .offers_block_in {
    margin: 10px 0;
  }
  .block_title {
    gap: 10px;
    margin: 28px 8px;
  }
  .block_title .main_btn {
    flex-shrink: 0;
    padding: 8px;
  }
  .block_title .main_btn span {
    display: none;
  }
  .block_title .main_btn img {
    display: flex;
  }
  .main_title {
    font-size: 20px;
    line-height: 28px;
  }
  aside {
    display: none;
  }
  header {
    padding: 20px 8px;
    gap: 23px;
  }
  header .header_burger {
    display: flex;
  }
  header .line {
    display: none;
  }
  header ul {
    gap: 50px;
  }
  header ul a span {
    display: none;
    font-size: 18px;
    line-height: 22px;
  }
  header ul a img {
    display: block;
  }
  .avatar_text {
    display: none;
  }
  .avatar_img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
  }
  .offers .offer_card_block {
    flex-direction: column;
    gap: 40px;
    border-radius: 0;
    padding: 16px 8px 40px 8px;
  }
  .offers .offer_card_block_text .link_block {
    align-items: start;
    flex-direction: column;
  }
  .offers .offer_card_block_text span, .offers .offer_card_block_text b, .offers .offer_card_block_text a {
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.01em;
  }
  .offers .offer_card_block_text .blue_number {
    font-size: 18px;
  }
  .offers .offer_card_block_text p {
    font-size: 14px;
    line-height: 20px;
  }
  .offers .offer_card_block_btns {
    margin: 16px 0;
    gap: 16px;
  }
  .offers .offer_card_block_btns button {
    width: 100%;
    flex: auto;
  }
  .offers .offer_card_block_btns .icon_btn {
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    padding: 8px;
  }
  .balance_card {
    max-width: 100%;
    border-radius: 0;
    padding: 24px 8px;
  }
  .balance_card h3 {
    margin-bottom: 24px;
  }
  .balance_card h3 span {
    font-size: 20px;
    line-height: 28px;
  }
  .balance_card ul li {
    gap: 8px;
  }
  .balance_card ul b, .balance_card ul span {
    font-size: 14px;
    line-height: 20px;
  }
  .education {
    padding: 24px 8px;
  }
  .education h4 {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 26px;
  }
  .education ul {
    padding-left: 0;
  }
  .education span {
    display: inline;
    font-size: 18px;
    line-height: 26px;
  }
  .transactions_cards {
    padding: 24px 2px;
    margin: 0 8px;
    background: #fff;
  }
  .transactions_cards .transactions_card {
    padding: 37px 29px;
    width: 100%;
  }
  .transactions_cards a, .transactions_cards span {
    font-size: 14px;
    line-height: 20px;
  }
  .referral_in {
    padding: 24px 8px;
  }
  .referral_in .referral_cards {
    gap: 16px;
  }
  .referral_in .referral_card {
    width: 100%;
  }
  .referral_in .referral_copy input {
    width: 100%;
  }
  .referral_in .referral_text {
    width: 100%;
  }
  .referral_in .referral_text h4 {
    margin-bottom: 16px;
  }
  .referral_in .referral_top {
    flex-direction: column;
    gap: 32px;
    margin-bottom: 32px;
  }
  .referral_in .reward {
    padding: 16px 22px;
    width: 100%;
    max-width: 100%;
  }
  .referral_in .reward h4 {
    font-size: 18px;
    line-height: 26px;
  }
  .referral_in .reward ul span {
    font-size: 16px;
  }
  .referral_in .referral_card {
    padding: 24px;
  }
  .referral_in .referral_card span, .referral_in .referral_card b {
    font-size: 16px;
  }
  .balance_rquest_table {
    width: 100%;
    border-radius: 0;
  }
  .balance_rquest_table .medium_block {
    width: 150px;
  }
  .balance_rquest_table .end_block {
    width: 350px;
  }
  .balance_rquest_table .table_body,
  .balance_rquest_table .table_head {
    gap: 8px;
  }
  .settings_integrations {
    flex-direction: column;
    padding: 24px 8px;
    border-radius: 0;
  }
  .settings_integrations h3 {
    font-size: 18px;
    line-height: 26px;
  }
  .settings_integrations .settings_integrations_left,
  .settings_integrations .settings_integrations_right {
    width: 100%;
  }
  .settings_integrations .settings_integrations_left label,
  .settings_integrations .settings_integrations_right label {
    margin-top: 24px;
  }
  .offers_cards {
    padding: 0 8px;
  }
  .add_article {
    padding: 0 8px;
    gap: 24px;
  }
  .add_article .textarea_one {
    height: 94px;
  }
  .add_article textarea {
    height: 550px;
  }
  .add_article .main_btn {
    width: 100%;
  }
  .profile_transaction {
    padding: 24px 0;
    margin: 0;
    justify-content: center;
  }
  .profile_transaction .transactions_card {
    width: 98%;
  }
  .partner_table {
    border-radius: 0;
  }
  .settings_referal {
    gap: 24px;
    border-radius: 0;
    padding: 26px 8px;
  }
  .settings_referal ul {
    align-items: start;
    gap: 24px;
  }
  .settings_referal ul li {
    width: 100%;
    align-items: start !important;
    justify-content: start;
    flex-direction: column;
    gap: 6px;
  }
  .settings_referal ul span {
    text-align: left;
    width: auto;
  }
  .settings_referal ul input {
    width: 100%;
  }
  .settings_referal .select, .settings_referal input {
    width: 100%;
    height: 40px;
  }
  .settings_referal .select .selectBtn {
    padding: 9px 16px;
  }
  .settings_referal blockquote {
    margin-bottom: 0;
  }
  .settings_referal .notification_btn {
    width: 100%;
  }
  .settings_referal .main_btn {
    width: 100%;
  }
  .settings_referal .change_btn {
    height: 50px;
  }
  .settings_referal .logo_upload {
    flex-direction: column;
    align-items: start !important;
  }
  .settings_referal .logo_upload img {
    margin-top: 16px;
  }
}
@media only screen and (max-width: 993px) {
  .partner_table_wrapper {
    width: 100%;
    overflow-x: scroll;
  }
  .partner_table_wrapper::-webkit-scrollbar {
    display: none;
  }
  .partner_table {
    min-width: 980px;
  }
  .partner_table span {
    white-space: nowrap;
  }
  .add_offer {
    padding: 14px 8px;
  }
  .add_offer .add_offer_block_in {
    flex-direction: column;
    margin-bottom: 16px;
  }
  .add_offer .blue_btn {
    width: 100%;
  }
  .add_offer .main_btn {
    width: 100%;
  }
  .add_offer .add_offer_blocks {
    width: 100%;
  }
  .add_offer .two_add_offer_blocks {
    gap: 16px;
  }
  .profile_table {
    min-width: 1479px;
  }
  .partners_profile {
    flex-direction: column;
    gap: 28px;
    border-radius: 0;
    padding: 24px 8px;
  }
  .partners_profile .partners_profile_left,
  .partners_profile .partners_profile_right {
    gap: 8px;
  }
  .partners_profile .partners_profile_left ul,
  .partners_profile .partners_profile_right ul {
    gap: 8px;
  }
  .partners_profile .partners_profile_left h4,
  .partners_profile .partners_profile_right h4 {
    font-size: 18px;
    line-height: 20px;
  }
  .partners_profile .partners_profile_left .profile_img,
  .partners_profile .partners_profile_right .profile_img {
    margin-top: 20px;
  }
  .partners_profile .partners_profile_left span,
  .partners_profile .partners_profile_left strong,
  .partners_profile .partners_profile_left a,
  .partners_profile .partners_profile_right span,
  .partners_profile .partners_profile_right strong,
  .partners_profile .partners_profile_right a {
    font-size: 16px;
    line-height: 22px;
  }
}
@media only screen and (max-width: 992px) {
  .fixation_one {
    padding: 28px 0px 43px;
  }
  .fixation_one h2 {
    font-size: 20px;
    line-height: 28px;
  }
  .fixation_one__head {
    padding: 0px 8px;
  }
  .fixation_one__head .main_btn {
    padding: 0;
    width: 40px;
    height: 40px;
  }
  .fixation_one__head .main_btn span {
    display: none;
  }
  .fixation_one__head .btn_light {
    padding: 0;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .fixation_one__head .btn_light svg {
    display: block;
  }
  .fixation_one__head .btn_light span {
    display: none;
  }
  .fixation_one__content {
    border-radius: 0;
    padding: 24px 8px;
  }
  .fixation_one__content .datas {
    gap: 32px;
    flex-direction: column;
    margin-bottom: 32px;
  }
  .fixation_one__content .datas ul {
    width: 100%;
  }
  .fixation_one__content .datas ul:nth-child(1) {
    width: 100%;
  }
  .fixation_one__content .datas ul .title {
    font-size: 18px;
    line-height: 26px;
  }
  .fixation_one__content .datas ul h4 {
    font-size: 16px;
    line-height: 20px;
  }
  .fixation_one__content .datas ul p {
    font-size: 14px;
    line-height: 20px;
  }
  .fixation_one .fixation_lists {
    gap: 16px;
  }
  .fixation_one .fixation_lists__item {
    width: 100%;
    padding: 37px 29px;
  }
  .fixation_one .fixation_lists__item ul li {
    font-size: 14px;
    line-height: 20px;
  }
  .fixation_one .fixation_lists__head {
    margin-bottom: 24px;
  }
  .fixation_one .fixation_lists__head h3 {
    font-size: 18px;
    line-height: 26px;
  }
  .fixation_one .fixation_lists__head .btn_light {
    width: 88px;
    height: 44px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .fixation_one .fixation_lists__head .btn_light span {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .balance_rquest_table_wrapper {
    width: 100%;
    overflow-x: scroll;
  }
  .balance_rquest_table_wrapper::-webkit-scrollbar {
    display: none;
  }
  .balance_rquest_table {
    min-width: 700px;
  }
  .offers_cards {
    gap: 24px;
  }
  .offers_cards .offers_card {
    width: 100%;
  }
  .offers_cards .offers_card_content {
    padding: 16px 16px 24px 16px;
  }
  .offers_cards .offers_card_content h3 {
    font-size: 16px;
    line-height: 20px;
  }
  .fixation_cards .fixation_card {
    width: 100%;
  }
  .settings_referal blockquote {
    text-align: center;
    padding: 11px 12px;
  }
}
@media only screen and (max-width: 576px) {
  .entrance .swiper {
    width: calc(100% - 40px);
  }
  .entrance_form {
    padding: 30px 15px;
  }
  .entrance_form.successfully {
    min-height: 500px;
  }
  .entrance_form.successfully h6 {
    white-space: wrap;
  }
  .fixation_modal__content {
    width: calc(100% - 40px);
  }
  .fixation_modal__content form {
    width: 100%;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .fixation_modal__content h2 {
    width: 100%;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 24px;
  }
  .fixation_modal__content .inputs {
    gap: 12px;
    margin-bottom: 12px;
    width: 100%;
  }
  .fixation_modal__content .input input {
    padding: 9px 16px;
    line-height: 22px;
  }
  .fixation_modal__content .main_btn {
    width: 100%;
  }
  .add_fixation_modal__content {
    width: calc(100% - 40px);
    padding: 72px 16px;
  }
  .add_fixation_modal__content form {
    gap: 12px;
  }
  .add_fixation_modal__content h2 {
    font-size: 20px;
    line-height: 28px;
    padding-bottom: 12px;
  }
  .add_fixation_modal__content input {
    padding: 9px 16px;
  }
  .add_fixation_modal__content .main_btn {
    width: 100%;
    font-size: 24px;
  }
}/*# sourceMappingURL=style.css.map */